# IDE / Editor
/.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Android / Gradle
/Movil/.gradle/
/Movil/local.properties
/Movil/build/
/Movil/app/build/
/Movil/app/.cxx/
/Movil/app/.externalNativeBuild/
/Movil/captures/

# Web / Node
/Web/node_modules/
/Web/.npm-cache/
/Web/dist/
/Web/dist-ssr/
