# Variables de entorno para la API Spring Boot
# Copia este archivo a .env y rellena los valores reales (NO subas .env a Git)

DB_URL=jdbc:mysql://54.152.73.116:3306/requestructure_db?createDatabaseIfNotExist=true&serverTimezone=Europe/Madrid
DB_USER=root
DB_PASSWORD=
PORT=8080
